{% extends 'layout.html' %}

{% block body %}
<div class="container-fluid text-center bg-dark">
    <h1 class="text-white">view all selected images here</h1>
    {% if img %}
    
    <div class="row">
                <div class="col"></div>
                <div class="col-lg-8 col-sm-12">
                    <div class="p-5">
                        <div class="">
                            <img class="img-fluid loc-size rounded border border-2 border-warning shadow-lg" src="data:image/jpeg;base64,{{ img.data|b64encode }}" alt="Snoopy by busi images">
                        </div>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        
            {% else %}
            <!--
                <img src="{{ url_for('get_image', image_id=img.id) }}">
        -->
        <p class="h4">
            No imge to show 
        </p>
        {% endif %}
       <a href="{{url_for('loop')}}" class="btn btn-warning align-self-end">go back</a> 
    </div>

{% endblock body %}