{% extends 'layout.html' %}


{% block body %}



<div class="container-fluid text-center">
    Please select and upload your image here
          {% for erro in error %}
          {{erro}}
          
          {% endfor %}
          <div class="p-5">
              <div class="row">
                  <div class="col">
                      
                </div>
                <div class="col-auto">
                    <div class="p-5">
                        <div class="bg-success-subtle p-3 rounded">
                            <form action="/upload" method="post" id="image" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-auto">
                                        <h1>Upload images</h1>
                                    </div>
                                    <div class="col-auto">
                                        <input class="form-control" type="file" name="image">
                                        <p class="text-muted">image can be deleted</p>
                                    </div>
                                    <div class="col-auto">
                                        <button class="btn btn-warning rounded-pill" type="submit">Upload</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="p-5">
            
            {% if imgs %}
            
            <div class="p-3 border border-1 border-warning rounded">
                <!-- for loop for list all images from database-->
                {% for img in imgs %}
                <a href="{{ url_for('get_image', image_id=img.id) }}" class="">
                    <div class="card mb-3" style="width: 18rem;">
                        <img class="card-img-top" src="data:image/jpeg;base64,{{ img.data|b64encode }}" alt="Image">
                        <div class="card-body">
                        </div>
                    </div>
                </a>
                <div class="row">
                    <div class="col-auto    ">
                        <a href="/{{img.id}}/delete-image" class="">
                            <i class="bi bi-trash-fill text-danger fs-4"></i>
                        </a>
                    </div>
                    <div class="col-auto">
                        <h5 class="card-title">{{img.id}}</h5>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            
            <div class="loc-no-upload-yet p-5">

                <p class="h2 p-5 border border-1 border-warning rounded-pill shadow-lg text-center fw-bolder">You have not yet uploaded any images...</p>
            </div>
            
            {% endif %}
        </div>
    </div>
    
    
{% endblock body %}